body {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: stretch;
  font-family: "Oswald", sans-serif;
  font-style: italic;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 58%;
}

.glitch, .glow {
  color: #dfbfbf;
  position: relative;
  font-size: 9vw;
  animation: glitch 5s 5s infinite;
}

.glitch::before, .glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after, .glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  3.33333% {
    clip-path: inset(2px 0 99px 0);
  }
  6.66667% {
    clip-path: inset(28px 0 6px 0);
  }
  10% {
    clip-path: inset(25px 0 14px 0);
  }
  13.33333% {
    clip-path: inset(27px 0 47px 0);
  }
  16.66667% {
    clip-path: inset(32px 0 53px 0);
  }
  20% {
    clip-path: inset(14px 0 31px 0);
  }
  23.33333% {
    clip-path: inset(38px 0 7px 0);
  }
  26.66667% {
    clip-path: inset(47px 0 39px 0);
  }
  30% {
    clip-path: inset(4px 0 70px 0);
  }
  33.33333% {
    clip-path: inset(53px 0 40px 0);
  }
  36.66667% {
    clip-path: inset(11px 0 51px 0);
  }
  40% {
    clip-path: inset(24px 0 48px 0);
  }
  43.33333% {
    clip-path: inset(53px 0 29px 0);
  }
  46.66667% {
    clip-path: inset(51px 0 10px 0);
  }
  50% {
    clip-path: inset(7px 0 78px 0);
  }
  53.33333% {
    clip-path: inset(87px 0 6px 0);
  }
  56.66667% {
    clip-path: inset(50px 0 15px 0);
  }
  60% {
    clip-path: inset(91px 0 3px 0);
  }
  63.33333% {
    clip-path: inset(74px 0 15px 0);
  }
  66.66667% {
    clip-path: inset(73px 0 10px 0);
  }
  70% {
    clip-path: inset(38px 0 30px 0);
  }
  73.33333% {
    clip-path: inset(80px 0 5px 0);
  }
  76.66667% {
    clip-path: inset(60px 0 30px 0);
  }
  80% {
    clip-path: inset(75px 0 5px 0);
  }
  83.33333% {
    clip-path: inset(40px 0 58px 0);
  }
  86.66667% {
    clip-path: inset(31px 0 59px 0);
  }
  90% {
    clip-path: inset(74px 0 18px 0);
  }
  93.33333% {
    clip-path: inset(33px 0 4px 0);
  }
  96.66667% {
    clip-path: inset(8px 0 23px 0);
  }
  100% {
    clip-path: inset(99px 0 1px 0);
  }
}

@keyframes noise-2 {
  0% {
    clip-path: inset(84px 0 16px 0);
  }
  3.33333% {
    clip-path: inset(32px 0 25px 0);
  }
  6.66667% {
    clip-path: inset(75px 0 17px 0);
  }
  10% {
    clip-path: inset(66px 0 16px 0);
  }
  13.33333% {
    clip-path: inset(17px 0 22px 0);
  }
  16.66667% {
    clip-path: inset(24px 0 72px 0);
  }
  20% {
    clip-path: inset(86px 0 11px 0);
  }
  23.33333% {
    clip-path: inset(86px 0 13px 0);
  }
  26.66667% {
    clip-path: inset(24px 0 28px 0);
  }
  30% {
    clip-path: inset(13px 0 83px 0);
  }
  33.33333% {
    clip-path: inset(47px 0 37px 0);
  }
  36.66667% {
    clip-path: inset(5px 0 83px 0);
  }
  40% {
    clip-path: inset(13px 0 34px 0);
  }
  43.33333% {
    clip-path: inset(77px 0 12px 0);
  }
  46.66667% {
    clip-path: inset(53px 0 25px 0);
  }
  50% {
    clip-path: inset(6px 0 17px 0);
  }
  53.33333% {
    clip-path: inset(54px 0 33px 0);
  }
  56.66667% {
    clip-path: inset(66px 0 14px 0);
  }
  60% {
    clip-path: inset(51px 0 24px 0);
  }
  63.33333% {
    clip-path: inset(32px 0 18px 0);
  }
  66.66667% {
    clip-path: inset(17px 0 50px 0);
  }
  70% {
    clip-path: inset(62px 0 7px 0);
  }
  73.33333% {
    clip-path: inset(100px 0 1px 0);
  }
  76.66667% {
    clip-path: inset(46px 0 32px 0);
  }
  80% {
    clip-path: inset(71px 0 20px 0);
  }
  83.33333% {
    clip-path: inset(20px 0 69px 0);
  }
  86.66667% {
    clip-path: inset(54px 0 25px 0);
  }
  90% {
    clip-path: inset(33px 0 2px 0);
  }
  93.33333% {
    clip-path: inset(88px 0 8px 0);
  }
  96.66667% {
    clip-path: inset(24px 0 57px 0);
  }
  100% {
    clip-path: inset(54px 0 21px 0);
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  text-shadow: 0 0 1000px #dfbfbf;
  color: transparent;
  position: absolute;
  top: 0;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: .8vw;
  color: rgba(165, 141, 141, 0.4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
