.parallax {
  /*background-image: url("img_parallax.jpg");*/
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bggreen {
  position: relative;
  top: -210%;
  left: 62%;
  z-index: 10;
}

.contpos {
  position: relative;
  z-index: 20;
}

.fooot {
  position: sticky;
  bottom: 0;
  left: -20%;
  width: 87%;
  height: 120px;
}

